@import "tailwindcss";

.homepage-background { 
  background-color: #E7E5FF;
}


.btn-createAcc {
  background-color: #32cd32;
  color: white;
  border: none;
}
.btn-createAcc:hover,
.btn-createAcc:focus,
.btn-createAcc:active {
  background-color: #32cd32 !important;
  color: white !important;
  box-shadow: none !important;
}
.signup-background {
  background-image: url("./SignUp/Img/SignUpBackground.png");
  background-size: cover;
  background-position: center;
}
.signup-form {
  background-color: rgba(255, 255, 255, 0.7);
  border: none !important;
}
