@import "tailwindcss";
/* HomePage */
.homepage-background {
  background-color: #e7e5ff;
}

.homepage-logo {
  width: 80px;
  padding-left: 20px;
}
.h1-WritingHP {
  font-family: arial;
}

.btn-startHP {
  border: black;
}

.h4-HP {
  margin-bottom: 0%;
}

/* SignUp */

.btn-createAcc {
  background-color: #32cd32;
  color: white;
  border: none;
}
.btn-createAcc:hover,
.btn-createAcc:focus,
.btn-createAcc:active {
  background-color: #32cd32 !important;
  color: white !important;
  box-shadow: none !important;
}
.signup-background {
  background-color: white;
}
.signup-form {
  background-color: rgba(255, 255, 255) !important;
  border: none;
}
